/* Allgemeine Formatierung */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #0c2352; /* Dunkles Blau */
  
    background-image: url("realistic_snowy_mountins.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    
      
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
header h1 {
    margin: 0;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    margin: 0 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #f00;
}

/* Hauptbereich */
main {
    margin: 20px;
}
section {
    margin-bottom: 40px;
}
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
p {
    margin: 0;
}

/* Formular */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
label {
    margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
textarea {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}
input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #f00;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.main-content {
    padding-top: 60px; /* adjust to match the height of your navbar */
    padding-bottom: 120px; /* add extra padding to ensure cards are fully visible */
}

.card:last-child {
    margin-bottom: 60px; /* add margin to ensure last card is fully visible */
}

.card-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .card-carousel {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
  }
  
  .card {
    width: calc(100% / 3);
    margin: 10px;
    flex-shrink: 0;
  }
  
  .carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .carousel-prev, .carousel-next {
    background-color: #fff; /* Hintergrundfarbe */
    border: 1px solid #ddd; /* Rand */
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    position: absolute; /* Positionierung */
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-prev {
    left: 0; /* Positionierung links */
  }
  
  .carousel-next {
    right: 0; /* Positionierung rechts */
  }
  
  .carousel-prev:hover, .carousel-next:hover {
    background-color: #ccc;
  }
